@import "tailwindcss";

@theme {
  --color-electric-yellow: #FACC15;
  --color-carbon-black: #09090B;
  --color-zinc-900: #18181B;
}

:root {
  --background: #09090B;
  --foreground: #FFFFFF;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter), sans-serif;
}

/* Force 0px radius globally */
* {
  border-radius: 0px !important;
}