@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-background-dark text-white font-sans antialiased;
  }
}

.volt-glow:hover {
  box-shadow: 0 0 15px rgba(204, 255, 0, 0.2);
  border-color: #CCFF00;
}

.grid-bg {
  background-image: linear-gradient(rgba(42, 42, 42, 0.2) 1px, transparent 1px),
    linear-gradient(90deg, rgba(42, 42, 42, 0.2) 1px, transparent 1px);
  background-size: 40px 40px;
}