@tailwind base;
@tailwind components;
@tailwind utilities;

/* Add these lines at the bottom */
body {
  background-color: #0a0a0a; /* background-dark */
  color: white;
}

.volt-glow:hover {
  box-shadow: 0 0 15px rgba(217, 255, 0, 0.2);
  border-color: #d9ff00;
}

.grid-bg {
  background-image: linear-gradient(rgba(38, 38, 38, 0.2) 1px, transparent 1px),
  linear-gradient(90deg, rgba(38, 38, 38, 0.2) 1px, transparent 1px);
  background-size: 40px 40px;
}